@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  /* Power Button States */
  .power-btn {
    @apply h-20 rounded-2xl flex items-center justify-center transition-colors duration-200 cursor-pointer;
  }
  
  .power-btn-on {
    @apply bg-[#F25A4A] hover:bg-[#FF6A5A] active:bg-[#C54A3A];
  }
  
  .power-btn-off {
    @apply bg-[#9A9A9A] hover:bg-[#8F8F8F] active:bg-[#2B2B2B];
  }
}


@font-face {
  font-family: 'LynkoType-Regular';
  src: url('@/assets/fonts/LynkcoType-Regular.ttf');
  font-weight: normal;
  font-style: normal;
  unicode-range: U+0030-0039; /* 仅应用于数字 0-9 */
}

@font-face {
  font-family: 'DingTalk-JinBuTi';
  src: url('@/assets/fonts/DingTalk-JinBuTi.ttf');
  font-weight: normal;
  font-style: normal;
}

:root {
  font-family:
    'LynkoType-Regular', /* 数字优先匹配 */
    'DingTalk-JinBuTi', /* 中文和其他字符匹配 */
    -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Noto Sans', Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden; /* Force no scrollbars */
  background-color: black;
}

#app {
  width: 100%;
  height: 100%;
}
