@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'LynkoType-Regular';
  src: url('@/assets/fonts/LynkcoType-Regular.ttf');  /* 指定字体文件的路径和文件名 */
  font-weight: normal;
  font-style: normal;
}

:root {
  font-family:
    'LynkoType-Regular',
    -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Noto Sans', Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden; /* Force no scrollbars */
  background-color: black;
}

#app {
  width: 100%;
  height: 100%;
}
